.root {
    height: 100px;
    width:  300px;
  }

  .image {
 
  background-repeat: 'no-repeat';
  background-size: cover;
  background-position: center;
  }

  .paper {
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .avatar {
    margin: 1px;
    background-color: seagreen;
  }

  .form {
    width: '100%';
    margin-top: 1px;
  }

  .submit {
    margin: 5px
  }

