
.img {

    width: 2020px;
    height: 800px;
    opacity: 0.4;
      filter: alpha(opacity=60); 
      border-radius: 20px;
  
  }
  
  .Footer {
  
    width: 2020px;
    height: 400px;
    background-color: white;

  }

  .Footer2 {
  
    width: 2020px;
    height: 250px;
    background-color:darkgray;
    margin: 5px;
  }
  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    height: 80px;
  }