


body {
    
    margin: 0;
    font-family: 'Raleway';
    /* background-color: khaki; */
}


.Images {

    width: 250px;
    height: 230px;
    cursor: pointer;
    border-radius: 5px;
  
}

.main {

    display: flex;
    justify-content: space-between;
    /* box-shadow: rgba(1, 1,1, 0.5) 0px 0px 0px; */
    align-items: center;
    width: 2020px;
    filter: alpha(opacity=90); 
    /* border: 1px solid #ddd; */
    
   
}

.menu-list {

    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    scrollbar-highlight-color: darkblue;
    

}

.topic {

    margin: 15px;
    padding: 15px;
    transition-duration: 0.4s;
    border: 2px solid black;
    font-size: 1.5em;
    
}

.link {

  
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 0px solid black;

}

